main {
  width: 400px;
  height: 400px;
  background-color: #eee;
  color: #0e1f2c;
  margin: 20px auto;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.dice-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 20px;
}
.dice {
  color: #0e1f2c;
  background-color: white;
  box-shadow: 0 2px 5px #ccc;
  font-size: 2rem;
  font-weight: 900;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  line-height: 1;
  align-items: center;
  border: none;
  border-radius: 5px;
}
button{
  cursor: pointer;
}

.roll{
  background-color: #462FFC;
  padding: 10px 25px;
  border: none;
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  font-weight: 700;
}
h1{
  color: #397e28;
}
p{
  padding: 10px;
  text-align: center;
}